@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font: 15px 'Roboto', sans-serif;
    color: #333;
    max-width: 300px;
    margin: auto;
    margin-top: 5%;
}

ol, ul {
    padding-left: 30px;
    list-style-type: none;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
    text-align: center;
    font: 30px 'Patrick Hand SC', cursive;
}
  
.square {
    font-family: 'Patrick Hand SC', cursive;
    background: #fff;
    border: 1px solid #999;
    color: #333;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}

.square-win {
    background: #FFDF77;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: column;
}

.game-info {
    margin: auto;
    margin-top: 20px;
}

.btn {
    min-height: 30px;
    min-width: 150px;
    border-radius: 5px;
    background-color: lightblue;
    border: 1px #8ac7db solid;
    color: #12303b;
}

.btn:hover {
    border-color: #3ca1c3;
}

.jump-to {
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}