@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    max-width: 300px;
    margin: auto;
    margin-top: 5%;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
    text-align: center;
    font: 30px 'Patrick Hand SC', cursive;
}
  
.square {
    font-family: 'Patrick Hand SC', cursive;
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}

.square-win {
    background: #FFDF77;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: column;
}

.game-info {
    margin: auto;
    margin-top: 20px;
}